<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<appSettings>
		<add key="SIYABWebServiceURL" value=""/>
		<add key="LaboratoryPrescriptionServiceURL" value=""/>
		<add key="BillPatientServiceURL" value="/sepas/gwSepasBillPatient/SavePatientBill"/>
		<add key="PathologyCaseReportServiceURL" value=""/>
		<add key="LaboratoryResultServiceURL" value=""/>
		<add key="PersonServiceUrl" value="/api/client/apim/v1/sabtahval/gwsabt/getEstelam3"/>
		<add key="HidServiceUrl" value="/api/client/apim/v1/bimehsalamat/gwestehghagh/hid"/>
		<add key="DrugSalamatServiceUrl" value="/api/client/apim/v1/taminsarmaye/gwmohitica/medicationprescriptionsxml"/>
		<add key="WebServiceBaseUrl" value="https://apigateway.behdasht.gov.ir/"/>
		<add key="OAuthServiceUrl" value="/oauth/token"/>
		
		<add key="ApiUsername" value="ditastest"/>
		<add key="ApiPassword" value="Ditas@123"/>
		
		<add key="SabtahvalPackageID" value="601ac0c64d62ce7378165efa"/>
		<add key="BimehSalamatPackageID" value="601abfd1ce20e106117463f3"/>
		<add key="SalamatPackageID" value="602d1ef2aec2321abb747f99"/>
	
		<add key="ClientId" value="ditastestClient"/>
		<add key="SecretId" value="dKfzs8tRGQeepuQu"/>
		<add key="SystemId" value="7AB9E0E5-8499-E1E6-A6F9-B9731ED761EF"/>
		<add key="LocationId" value="23C6D465-73BE-4A34-9933-A3C9DFAA40B7"/>
		
	</appSettings>
</configuration>
