<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>
	<log4net>
		<root>
			<level value="Debug"></level>
			<appender-ref ref="RollingLogFileAppender"></appender-ref>
		</root>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/sdkLog.log" />
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<encoding value="utf-8" />
			<datePattern value="yyyyMMdd"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="1MB"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger | %message%newline"/>
			</layout>
		</appender>
	</log4net>
	<appSettings>
		<add key="WebServiceBaseUrl" value="https://apigateway.behdasht.gov.ir/"/>

		<add key="SIYABWebServiceURL" value=""/>
		<add key="LaboratoryPrescriptionServiceURL" value=""/>
		
		<add key="SavePatientBillSecureURL" value="/api/client/apim/v1/sepas/gwSepasHospital/SavePatientBillSecure"/>
		<add key="SaveAdmittedMessageSecureURL" value="/api/client/apim/v1/sepas/gwSepasHospital/SaveAdmittedMessageSecure"/>
		<add key="SaveDeathCertificateSecureURL" value="/api/client/apim/v1/sepas/gwSepasHospital/SaveDeathCertificateSecure"/>
		<add key="SaveDentalCareSecureURL" value="/api/client/apim/v1/sepas/gwSepasHospital/SaveDentalCareSecure"/>
		<add key="SaveDiabeticCaseSecureURL" value="/api/client/apim/v1/sepas/gwSepasHospital/SaveDiabeticCaseSecure"/>
		<add key="SaveDispensedPrescriptionSecureURL" value="/api/client/apim/v1/sepas/gwSepasHospital/SaveDispensedPrescriptionSecure"/>
		<add key="SaveInsurerReimbursementSecureURL" value="/api/client/apim/v1/sepas/gwSepasHospital/SaveInsurerReimbursementSecure"/>
		<add key="SaveLaboratoryPrescriptionSecureURL" value="/api/client/apim/v1/sepas/gwSepasHospital/SaveLaboratoryPrescriptionSecure"/>
		<add key="SaveLaboratoryResultSecureURL" value="/api/client/apim/v1/sepas/gwSepasHospital/SaveLaboratoryResultSecure"/>
		<add key="SaveMedicalImagePrescriptionSecureURL" value="/api/client/apim/v1/sepas/gwSepasHospital/SaveMedicalImagePrescriptionSecure"/>
		<add key="SaveMedicalImageReportSecureURL" value="/api/client/apim/v1/sepas/gwSepasHospital/SaveMedicalImageReportSecure"/>
		<add key="SaveMedicationPrescriptionSecureURL" value="/api/client/apim/v1/sepas/gwSepasHospital/SaveMedicationPrescriptionSecure"/>
		<add key="SaveMICaseReportSecureURL" value="/api/client/apim/v1/sepas/gwSepasHospital/SaveMICaseReportSecure"/>
		<add key="SavePathologyReportSecureURL" value="/api/client/apim/v1/sepas/gwSepasHospital/SavePathologyReportSecure"/>
		<add key="SaveReferralCaseSecureURL" value="/api/client/apim/v1/sepas/gwSepasHospital/SaveReferralCaseSecure"/>
		<add key="SaveAmbulanceMessageSecureURL" value="/api/client/apim/v1/sepas/gwSepasHospital/SaveAmbulanceMessageSecure"/>
		<add key="SaveSIYABReportSecureURL" value="/api/client/apim/v1/sepas/gwSepasHospital/SaveSIYABReportSecure"/>
		<add key="SaveSOAPReportSecureURL" value="/api/client/apim/v1/sepas/gwSepasHospital/SaveSOAPReportSecure"/>
		<add key="SaveSyndromicCaseSecureURL" value="/api/client/apim/v1/sepas/gwSepasHospital/SaveSyndromicCaseSecure"/>
		

		<add key="PathologyCaseReportServiceURL" value=""/>
		<add key="LaboratoryResultServiceURL" value=""/>
		<add key="PersonServiceUrl" value="/api/client/apim/v1/sabtahval/gwsabt/getEstelam3"/>
		
		<add key="HidServiceUrl" value="/api/client/apim/v1/bimehsalamat/gwestehghagh/hid"/>
		<add key="BatchHidServiceUrl" value="/api/client/apim/v1/bimehsalamat/gwestehghagh/batchhid"/>
		<add key="UpdateHidServiceUrl" value="/api/client/apim/v1/bimehsalamat/gwestehghagh/updatehid"/>
		<add key="EliminateHidServiceUrl" value="/api/client/apim/v1/bimehsalamat/gwestehghagh/eliminatehid"/>
		<add key="VerifyHidServiceUrl" value="/api/client/apim/v1/bimehsalamat/gwestehghagh/verifyhid"/>
		

		<add key="DrugSalamatServiceUrl" value="/api/client/apim/v1/taminsarmaye/gwmohitica/medicationprescriptionsxml"/>
		<add key="OAuthServiceUrl" value="/oauth/token"/>
		<add key="CallupInsuranceUrl" value="/api/client/apim/v1/bimehsalamat/gwestehghagh/CallupInsurance"/>
		<add key="PrescriptionTaminServiceUrl" value="/api/client/apim/v1/soatamin/gwtamin/electronicprescriptionasvisit"/>
		<add key="MemberNezamPezeshkiServiceUrl" value="/api/client/apim/v1/nezampezeshki/gwnezampezeshki/GetMemberInfoByMcCodeNumericTypeEn"/>
		<add key="MemberNezamPezeshkiServiceUrl" value="/api/client/apim/v1/nezampezeshki/gwnezampezeshki/GetMemberInfoByMcCodeNumericTypeEn"/>

		<add key="HIDPackageID" value="602ea245fe0525476a185f95"/>
		<add key="BatchHIDPackageID" value="602ea245fe0525476a185f95"/>
		<add key="UpdateHIDPackageID" value="602ea245fe0525476a185f95"/>
		<add key="EliminateHIDPackageID" value="602ea245fe0525476a185f95"/>
		<add key="VerifyHIDPackageID" value="602ea245fe0525476a185f95"/>

		
		<add key="SabtahvalPackageID" value="601ac0c64d62ce7378165efa"/>
		<add key="SalamatPackageID" value="602d1ef2aec2321abb747f99"/>
		<add key="NezamPezeshkiPackageID" value="601abf9d1e66326cb47b64cd"/>

		<add key="SavePatientBillPackageID" value="603f4652ffaa1560df96b7dc"/>
		<add key="SaveAdmittedMessagePackageID" value="60477024ffaa1560df96b7e9"/>
		<add key="SaveDeathCertificatePackageID" value="604770ab410e06365ad1b538"/>
		<add key="SaveDentalCarePackageID" value="604770c8410e06365ad1b539"/>
		<add key="SaveDiabeticCasePackageID" value="604770d9410e06365ad1b53a"/>
		<add key="SaveDispensedPrescriptionPackageID" value="604770e9410e06365ad1b53b"/>
		<add key="SaveInsurerReimbursementPackageID" value="604770f7410e06365ad1b53c"/>
		<add key="SaveLaboratoryPrescriptionPackageID" value="60477108410e06365ad1b53d"/>
		<add key="SaveLaboratoryResultPackageID" value="60477119410e06365ad1b53e"/>
		<add key="SaveMedicalImagePrescriptionPackageID" value="60477135410e06365ad1b53f"/>
		<add key="SaveMedicalImageReportPackageID" value="60477145e8598d56a0ac6637"/>
		<add key="SaveMedicationPrescriptionPackageID" value="60477159e8598d56a0ac6638"/>
		<add key="SaveMICaseReportPackageID" value="6047716ae8598d56a0ac6639"/>
		<add key="SavePathologyReportPackageID" value="6047717ae8598d56a0ac663a"/>
		<add key="SaveReferralCasePackageID" value="60477187e8598d56a0ac663b"/>
		<add key="SaveAmbulanceMessagePackageID" value="60477193e8598d56a0ac663c"/>
		<add key="SaveSIYABReportPackageID" value="604771b1e8598d56a0ac663d"/>
		<add key="SaveSOAPReportPackageID" value="604771c2e8598d56a0ac663e"/>
		<add key="SaveSyndromicCasePackageID" value="604771cee8598d56a0ac663f"/>
		
		<add key="PrescriptionTaminPackageID" value="6033be1ab130d02140bba984"/>
		<add key="SystemId" value="4e794d6f-45a2-1186-817c-5e34e3fcf8ac"/>
		<add key="LocationId" value="859773e8-5d81-46c6-9df1-5fb551b00495"/>

		<add key="ApiUsername" value="ditastest"/>
		<add key="ApiPassword" value="Ditas@123"/>
		<add key="ClientId" value="ditastestClient"/>
		<add key="SecretId" value="dKfzs8tRGQeepuQu"/>
		
		<add key="UseLog" value="true"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
