<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>
	<log4net>
		<root>
			<level value="ALL"></level>
			<appender-ref ref="RollingLogFileAppender"></appender-ref>
		</root>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="ErrorLog\logfile.txt"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value="yyyyMMdd"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="1MB"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger | %message%newline"/>
			</layout>
		</appender>
	</log4net>
	<appSettings>
		<add key="WebServiceBaseUrl" value="https://apigateway.behdasht.gov.ir/"/>

		<add key="SIYABWebServiceURL" value=""/>
		<add key="LaboratoryPrescriptionServiceURL" value=""/>
		<add key="BillPatientServiceURL" value="/sepas/gwSepasBillPatient/SavePatientBill"/>
		<add key="PathologyCaseReportServiceURL" value=""/>
		<add key="LaboratoryResultServiceURL" value=""/>
		<add key="PersonServiceUrl" value="/api/client/apim/v1/sabtahval/gwsabt/getEstelam3"/>
		<add key="HidServiceUrl" value="/api/client/apim/v1/bimehsalamat/gwestehghagh/hid"/>
		<add key="DrugSalamatServiceUrl" value="/api/client/apim/v1/taminsarmaye/gwmohitica/medicationprescriptionsxml"/>
		<add key="OAuthServiceUrl" value="/oauth/token"/>
		<add key="CallupInsuranceUrl" value="/api/client/apim/v1/bimehsalamat/gwestehghagh/CallupInsurance"/>
		<add key="PrescriptionTaminServiceUrl" value="/api/client/apim/v1/soatamin/gwtamin/electronicprescriptionasvisit"/>
		<add key="MemberNezamPezeshkiServiceUrl" value="/api/client/apim/v1/nezampezeshki/gwnezampezeshki/GetMemberInfoByMcCodeNumericTypeEn"/>

		<add key="ApiUsername" value="ditastest"/>
		<add key="ApiPassword" value="Ditas@123"/>

		<add key="SabtahvalPackageID" value="601ac0c64d62ce7378165efa"/>
		<add key="HIDPackageID" value="602ea245fe0525476a185f95"/>
		<add key="SalamatPackageID" value="602d1ef2aec2321abb747f99"/>
		<add key="NezamPezeshkiPackageID" value="601abf9d1e66326cb47b64cd"/>

		<add key="ClientId" value="ditastestClient"/>
		<add key="SecretId" value="dKfzs8tRGQeepuQu"/>
		<add key="SystemId" value="7AB9E0E5-8499-E1E6-A6F9-B9731ED761EF"/>
		<add key="LocationId" value="23C6D465-73BE-4A34-9933-A3C9DFAA40B7"/>

	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
